Repository glockpete/Forecastin: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-api-docs, check-typescript-consistency, performance-regression-check, validate-migrations, check-docs-consistency, frontend-build-check, api-health-check, check-mv-refresh, check-websocket-serialization

Path conditions:
  check-api-docs: any of: api/.*\.py$
  check-typescript-consistency: any of: frontend/src/.*\.(ts|tsx)$
  performance-regression-check: any of: api/.*\.(py)$
  validate-migrations: any of: migrations/.*\.sql$
  check-docs-consistency: any of: docs/.*\.md$
  frontend-build-check: any of: frontend/src/.*\.(ts|tsx|js|jsx)$
  api-health-check: any of: api/.*\.py$
  check-mv-refresh: any of: api/navigation_api/.*\.(py)$
  check-websocket-serialization: any of: api/.*\.(py)$

fix: Resolve dependency conflict between safety and black
  api/requirements.txt
Due: none

fix: Resolve dependency conflicts and WebSocket test failures
  api/main.py
  api/requirements.txt
  api/services/hierarchical_forecast_service.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

fix: Remove hardcoded paths from WebSocket smoke tests
  api/tests/__init__.py
  api/tests/test_ws_echo.py
  api/tests/test_ws_health.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

fix: Add pytest conftest.py to ensure proper path setup
  api/conftest.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

fix: Add test conftest.py to mock unavailable dependencies
  api/tests/conftest.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

fix: Move contract drift tests to frontend directory and fix test imports
  frontend/tests/contracts/contract_drift.spec.ts
  frontend/vitest.config.ts
Due: none

feat: Integrate RSS ingestion service with API endpoints
  RSS_INTEGRATION_SUMMARY.md
  api/main.py
  api/services/rss/__init__.py
  api/services/rss/anti_crawler/__init__.py
  api/services/rss/route_processors/__init__.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

docs: Update documentation for RSS service integration
  CHANGELOG.md
  README.md
  docs/RSS_API_ENDPOINTS.md
Due: check-docs-consistency

fix: Resolve WebSocket race condition, memory leak, and validation issues
  frontend/src/handlers/realtimeHandlers.ts
  frontend/src/types/ws_messages.ts
Due: check-typescript-consistency, frontend-build-check

docs: Add branch cleanup summary with merge details
  BRANCH_CLEANUP_SUMMARY.md
Due: none

chore: Add script to delete all unnecessary branches
  delete_branches.sh
Due: none

docs: Add comprehensive GitHub cleanup guide
  GITHUB_CLEANUP_GUIDE.md
Due: none

docs: Update summary with current status and Dependabot info
  BRANCH_CLEANUP_SUMMARY.md
Due: none

docs: Add guide to delete all Dependabot branches
  DELETE_DEPENDABOT.md
Due: none

Fix: Critical schema mismatch in SQL queries (entity_id → id)
  api/navigation_api/database/optimized_hierarchy_resolver.py
Due: check-api-docs, performance-regression-check, api-health-check, check-mv-refresh, check-websocket-serialization

docs: Add comprehensive discovery baseline and static analysis
  checks/api_ui_drift.md
  checks/bug_report.md
  checks/feature_flags_map.md
  checks/frontend_depgraph.json
  checks/ts_prune.txt
  docs/DISCOVERY.md
  docs/REPORT.md
  docs/SCOUT_LOG.md
  quick_wins_updated.json
Due: check-docs-consistency

fix(alpha-0.1): Critical TypeScript errors, test failures, and code quality
  frontend/src/components/Map/GeospatialView.tsx
  frontend/src/components/MillerColumns/MillerColumns.tsx
  frontend/src/components/Outcomes/ActionQueue.tsx
  frontend/src/components/Outcomes/EvidencePanel.tsx
  frontend/src/components/Outcomes/HorizonLane.tsx
  frontend/src/components/Outcomes/LensBar.tsx
  frontend/src/components/Outcomes/OpportunityRadar.tsx
  frontend/src/components/Outcomes/OutcomesDashboard.tsx
  frontend/src/components/Outcomes/StakeholderMap.tsx
  frontend/src/components/UI/ErrorBoundary.tsx
  frontend/src/handlers/realtimeHandlers.ts
  frontend/src/handlers/validatedHandlers.ts
  frontend/src/hooks/useHierarchy.ts
  frontend/src/hooks/useHybridState.ts
  frontend/src/hooks/useOutcomes.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/layers/base/BaseLayer.ts
  frontend/src/layers/implementations/PolygonLayer.ts
  frontend/src/layers/registry/LayerRegistry.ts
  frontend/src/layers/tests/GeospatialIntegrationTests.test.ts
  frontend/src/layers/types/layer-types.ts
  frontend/src/layers/utils/LayerValidationUtils.ts
  frontend/src/layers/utils/layer-utils.ts
  frontend/src/layers/utils/layer-ws-utilities.ts
  frontend/src/store/uiStore.ts
  frontend/src/types/deck.gl.d.ts
  frontend/src/types/index.ts
  frontend/src/types/ws_messages.ts
  frontend/src/utils/clientId.ts
  frontend/src/utils/idempotencyGuard.ts
  frontend/src/utils/stateManager.ts
  frontend/src/utils/validation.ts
  frontend/tests/realtimeHandlers.test.ts
  types/contracts.generated.ts
Due: check-typescript-consistency, frontend-build-check

Fix critical technical audit findings: schema, UI patterns, feature flags, and error handling
  api/navigation_api/database/optimized_hierarchy_resolver.py
  api/services/feature_flag_service.py
  frontend/src/App.tsx
  frontend/src/hooks/useFeatureFlag.ts
Due: check-api-docs, check-typescript-consistency, performance-regression-check, frontend-build-check, api-health-check, check-mv-refresh, check-websocket-serialization

Update all deck.gl packages to 9.2.2 for compatibility
  frontend/package-lock.json
  frontend/package.json
Due: none

docs: complete repository audit and documentation consolidation
  CHANGELOG.md
  checks/SCOUT_LOG.md
  checks/gap_map.md
  checks/help_docs_consolidation.md
  patches/DOC001_performance_metrics_alignment/README.md
  patches/DOC002_agents_migration_path_fix/README.md
  patches/DOC003_repo_map_api_endpoints/README.md
Due: none

fix: address top 10 technical audit findings
  api/main.py
  api/models/__init__.py
  api/models/websocket_schemas.py
  scripts/dev/generate_contracts.py
  scripts/feature_flags/smoke_geo.ts
  tests/integration/test_websocket_performance.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

docs: complete documentation audit and consolidation (Day 1-2 fixes)
  CHANGELOG.md
  CONTRIBUTING.md
  EXECUTE_MIGRATION_NOW.md
  README.md
  RSS_INTEGRATION_SUMMARY.md
  checks/SCOUT_LOG.md
  docs/DEVELOPER_SETUP.md
  docs/DOCUMENTATION_UPDATE_SUMMARY_2025-11-06.md
  docs/DOCUMENTATION_UPDATE_SUMMARY_2025-11-07.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/GOLDEN_SOURCE.md
  docs/PERFORMANCE_DIAGNOSTIC_REPORT.md
  docs/PERFORMANCE_INVESTIGATION_SUMMARY.md
  docs/RSS_API_ENDPOINTS.md
  docs/RSS_DOCUMENTATION_COMMIT_SUMMARY.md
  docs/architecture/AGENTS.md
  docs/architecture/REPO_MAP.md
  docs/reports/PHASE_TS_SUMMARY.md
  docs/reports/SCOUT_LOG.md
  docs/reports/typescript_verification_report.md
Due: check-docs-consistency

feat: standardize feature flag naming convention to namespaced dot notation
  api/main.py
  api/services/init_phase6_flags.py
  docs/FEATURE_FLAG_NAMING_STANDARD.md
  frontend/src/config/feature-flags-local-override.ts
  frontend/src/config/feature-flags.ts
  migrations/001_initial_schema.sql
  migrations/001_standardize_feature_flag_names.sql
  migrations/001_standardize_feature_flag_names_ROLLBACK.sql
Due: check-api-docs, check-typescript-consistency, performance-regression-check, validate-migrations, check-docs-consistency, frontend-build-check, api-health-check, check-websocket-serialization

fix: resolve frontend TypeScript compilation errors
  frontend/src/components/Entity/EntityDetail.tsx
  frontend/src/components/MillerColumns/MillerColumns.tsx
  frontend/src/components/Navigation/NavigationPanel.tsx
  frontend/src/components/Search/SearchInterface.tsx
  frontend/src/components/UI/ErrorBoundary.tsx
  frontend/src/layers/types/layer-types.ts
  frontend/src/types/contracts.generated.ts
Due: check-typescript-consistency, frontend-build-check

Startup analysis documentation and performance testing updates
  README.md
  api/services/rss/anti_crawler/manager.py
  checks/EVIDENCE_INDEX.md
  checks/HONEST_REVIEW.json
  checks/HONEST_REVIEW.md
  docs/PULL_REQUEST_TEMPLATE.md
  docs/STARTUP_ANALYSIS_CHANGELOG.md
  docs/STARTUP_PROCEDURES_AND_ERROR_PATTERNS.md
  docs/STARTUP_QUICK_REFERENCE.md
  final_performance_regression_analysis.md
  final_slo_validation_results.json
  performance_regression_investigation.md
  scripts/testing/direct_performance_test.py
  slo_validation_results.json
Due: check-api-docs, performance-regression-check, check-docs-consistency, api-health-check, check-websocket-serialization

Add Pull Request template and checklist for Backend and Frontend Startup Analysis
  docs/STARTUP_ANALYSIS_PR_CHECKLIST.md
  docs/STARTUP_ANALYSIS_PR_TEMPLATE.md
Due: check-docs-consistency

docs: update RSS ingestion service status to reflect full implementation
  checks/gap_map.md
  docs/GOLDEN_SOURCE.md
  docs/RSS_INGESTION_SERVICE_ARCHITECTURE.md
  docs/planning/ROADMAP_GAPS.md
Due: check-docs-consistency

docs: add comprehensive feature flag migration execution guides
  docs/FEATURE_FLAG_MIGRATION_EXECUTION_GUIDE.md
  docs/FEATURE_FLAG_MIGRATION_QUICK_START.md
Due: check-docs-consistency

docs: update documentation to reflect P0 issues resolved
  checks/HONEST_REVIEW.md
  docs/CODE_ANALYSIS_ANCESTOR_PERFORMANCE.md
  docs/CRITICAL_ISSUES_RESOLUTION_STATUS.md
Due: check-docs-consistency

fix: resolve critical code quality and security issues
  api/.env.example
  api/main.py
  api/navigation_api/database/optimized_hierarchy_resolver.py
  api/requirements.txt
  api/services/rss/route_processors/base_processor.py
  api/services/websocket_manager.py
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/types/ws_messages.ts
Due: check-api-docs, check-typescript-consistency, performance-regression-check, frontend-build-check, api-health-check, check-mv-refresh, check-websocket-serialization

docs: update STARTUP_ANALYSIS_CHANGELOG to reflect RSS service implementation
  docs/STARTUP_ANALYSIS_CHANGELOG.md
Due: check-docs-consistency

docs: correct misinformation about RSS ingestion service across all documentation
  docs/GOLDEN_SOURCE.md
  docs/PULL_REQUEST_TEMPLATE.md
  docs/reports/rss_api_websocket_ui_flow_validation_report.md
Due: check-docs-consistency

fix: add missing CI/CD pipeline scripts to resolve build failures
  scripts/check_performance_slos.py
  scripts/gather_metrics.py
  scripts/load_performance_data.py
  scripts/performance_test.py
Due: none

feat: Complete feature flag name standardization migration
  api/Dockerfile
  api/requirements_minimal.txt
  docs/FEATURE_FLAG_MIGRATION_COMPLETION_REPORT.md
  feature_flag_migration_plan.md
  feature_flag_migration_restart_report.md
  feature_flag_migration_status.md
  feature_flag_migration_success_report.md
  scripts/migrate_feature_flags.sh
  scripts/migrate_feature_flags_docker.sh
Due: check-docs-consistency

fix(frontend): resolve build errors and add TypeScript path aliases
  frontend/build/asset-manifest.json
  frontend/build/index.html
  frontend/build/static/js/main.0cebbf3d.js
  frontend/build/static/js/main.0cebbf3d.js.LICENSE.txt
  frontend/build/static/js/main.0cebbf3d.js.map
  frontend/build/static/js/main.ac335e89.js
  frontend/build/static/js/main.ac335e89.js.map
  frontend/package.json
  frontend/src/components/MillerColumns/MillerColumns.tsx
  frontend/src/components/Outcomes/ActionQueue.tsx
  frontend/src/components/Outcomes/EvidencePanel.tsx
  frontend/src/components/Outcomes/HorizonLane.tsx
  frontend/src/components/Outcomes/OutcomesDashboard.tsx
  frontend/src/components/Search/SearchInterface.tsx
  frontend/src/errors/errorCatalog.ts
  frontend/src/handlers/realtimeHandlers.ts
  frontend/src/hooks/useFeatureFlag.ts
  frontend/src/hooks/useHybridState.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/integrations/LayerWebSocketIntegration.ts
  frontend/src/layers/registry/LayerRegistry.ts
  frontend/src/types/ws_messages.ts
  frontend/src/utils/validation.ts
  frontend/tsconfig.json
Due: check-typescript-consistency, frontend-build-check

ci: add frontend and backend CI workflows to prevent broken builds
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  docs/CI_REQUIREMENTS.md
Due: check-docs-consistency

Update database manager and API configurations
  api/main.py
  api/services/database_manager.py
  docker-compose.yml
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

docs: add Railway + GitHub + Claude Code web setup guide
  docs/RAILWAY_GITHUB_CLAUDE_SETUP.md
Due: check-docs-consistency

fix(frontend): upgrade TypeScript to 5.3 to resolve d3-dispatch type errors
  .github/workflows/backend.yml
  frontend/package-lock.json
  frontend/package.json
Due: none

docs: add CI requirements and frontend import rules
  CONTRIBUTING.md
  docs/GOLDEN_SOURCE.md
Due: check-docs-consistency
