Repository glockpete/Forecastin: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-api-docs, check-typescript-consistency, performance-regression-check, validate-migrations, check-docs-consistency, frontend-build-check, api-health-check, check-mv-refresh, check-websocket-serialization

check-api-docs:
  name: Check API documentation consistency
  entry: python scripts/check_api_docs.py
  language: system
  pass_filenames: false

check-typescript-consistency:
  name: Check TypeScript type consistency
  entry: python scripts/check_typescript_consistency.py
  language: system
  pass_filenames: false

performance-regression-check:
  name: Check performance regression
  entry: python scripts/check_performance_regression.py
  language: system
  pass_filenames: false
  stages:
  - push

validate-migrations:
  name: Validate database migrations
  entry: python scripts/validate_migrations.py
  language: system
  pass_filenames: false

check-docs-consistency:
  name: Check documentation consistency
  entry: python scripts/check_docs_consistency.py
  language: system
  pass_filenames: false

frontend-build-check:
  name: Validate frontend build
  entry: bash -c 'cd frontend && npm run build --if-present'
  language: system
  pass_filenames: false

api-health-check:
  name: Check API health
  entry: python scripts/check_api_health.py
  language: system
  pass_filenames: false
  stages:
  - push

check-mv-refresh:
  name: Check materialized view refresh
  entry: python scripts/check_materialized_view_refresh.py
  language: system
  pass_filenames: false

check-websocket-serialization:
  name: Check WebSocket serialization
  entry: python scripts/check_websocket_serialization.py
  language: system
  pass_filenames: false

Implement cache-invalidation-probe & rss-entity-integration (difficulty 8+9)
  IMPLEMENTATION_SUMMARY.md
  api/navigation_api/database/optimized_hierarchy_resolver.py
  api/services/cache_service.py
Due: check-api-docs, performance-regression-check, api-health-check, check-mv-refresh, check-websocket-serialization

Implement cache-invalidation-probe: Four-tier invalidation with RSS strategies
  api/services/cache_service.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

Implement rss-entity-integration: Link RSS entities to geographic hierarchy
  api/navigation_api/database/optimized_hierarchy_resolver.py
Due: check-api-docs, performance-regression-check, api-health-check, check-mv-refresh, check-websocket-serialization

Phase 1 Complete: Ancestor Resolution Performance Diagnostic
  PHASE1_DIAGNOSTIC_REPORT.md
Due: none

Phase 2 Complete: Performance Optimizations Implemented
  PHASE2_OPTIMIZATIONS_SUMMARY.md
  api/navigation_api/database/optimized_hierarchy_resolver.py
Due: check-api-docs, performance-regression-check, api-health-check, check-mv-refresh, check-websocket-serialization

Documentation Complete: Performance Investigation Final Update
  NEXT_STEPS.md
  Original Roadmap.md
  README.md
  docs/PERFORMANCE_DIAGNOSTIC_REPORT.md
  docs/PERFORMANCE_INVESTIGATION_SUMMARY.md
  docs/PERFORMANCE_OPTIMIZATION_REPORT.md
Due: check-docs-consistency

Add PR summary template for performance investigation
  PR_SUMMARY.md
Due: none

Backup original README and create marketing-focused version
  README.backup.md
  README.md
Due: none

Fix critical WebSocket infinite reconnection loop causing browser crashes
  frontend/src/components/Map/GeospatialView.tsx
  frontend/src/components/Outcomes/OutcomesDashboard.tsx
Due: check-typescript-consistency, frontend-build-check

Fix: Add missing get_all_entities method to OptimizedHierarchyResolver
  api/navigation_api/database/optimized_hierarchy_resolver.py
Due: check-api-docs, performance-regression-check, api-health-check, check-mv-refresh, check-websocket-serialization

Fix: Add missing get_all_entities method to OptimizedHierarchyResolver
  api/requirements.txt
  api/services/automated_refresh_service.py
  api/services/database_manager.py
  api/services/rss/deduplication/__init__.py
  api/services/rss/entity_extraction/__init__.py
  api/services/rss/entity_extraction/extractor.py
  tasks.json
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

Add comprehensive code audit deliverables for TypeScript/React + FastAPI
  checks/README.md
  checks/SCOUT_LOG.md
  checks/bug_report.md
  checks/perf_notes.md
  mocks/rss/fixtures.ts
  mocks/ws/fixtures.ts
  quick_wins.json
  scripts/dev/generate_contracts.py
  tests/contracts/contract_drift.spec.ts
  types/contracts.generated.ts
  types/ws_messages.ts
Due: none

Add PR-ready patches for safe code-only fixes
  patches/QW001_discriminated_union_example/README.md
  patches/QW003_cache_key_fix/README.md
  patches/QW005_safe_accessors/README.md
  patches/VALIDATORS_example/README.md
Due: none

Add SAFE_CODE_ONLY_FIXES.md guide for immediate wins
  SAFE_CODE_ONLY_FIXES.md
Due: none

Add zod schemas and discriminated union types for WebSocket messages
  frontend/src/types/contracts.generated.ts
  frontend/src/types/ws_messages.ts
Due: check-typescript-consistency, frontend-build-check

Add WebSocket and RSS mock fixtures
  frontend/mocks/rss/01_ukraine_conflict.json
  frontend/mocks/rss/02_china_trade.json
  frontend/mocks/rss/03_middle_east_tensions.json
  frontend/mocks/rss/04_climate_summit.json
  frontend/mocks/ws/01_layer_data_update_happy.json
  frontend/mocks/ws/02_duplicate_message.json
  frontend/mocks/ws/03_out_of_order_sequence.json
  frontend/mocks/ws/04_gpu_filter_sync.json
  frontend/mocks/ws/05_polygon_update.json
  frontend/mocks/ws/06_linestring_update.json
  frontend/mocks/ws/07_geometry_batch_update.json
  frontend/mocks/ws/08_heartbeat.json
Due: none

Add contract drift and feature flag validation scripts
  scripts/feature_flags/smoke_geo.ts
  scripts/verify_contract_drift.ts
Due: none

Add idempotency and cache invalidation tests
  frontend/tests/reactQueryKeys.test.ts
  frontend/tests/realtimeHandlers.test.ts
Due: none

Add bug report, performance analysis, and quick wins
  checks/SCOUT_LOG.md
  checks/bug_report.md
  checks/perf_smells.json
  checks/quick_wins.json
Due: none

Add minimal patches for top 3 defects
  patches/01_add_message_validation.patch
  patches/02_fix_dedupe_memory_leak.patch
  patches/03_optimize_bulk_updates.patch
Due: none

Add stubbed LTREE refresh API tests
  api/tests/test_ltree_refresh.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

Update package.json with test dependencies and scripts
  frontend/package.json
  frontend/vitest.config.ts
Due: none

Phase TS: Complete type safety hardening with branded types
  PHASE_TS_SUMMARY.md
  SCOUT_LOG.md
  frontend/src/App.tsx
  frontend/src/hooks/useHierarchy.ts
  frontend/src/types/brand.ts
  frontend/src/types/index.ts
  frontend/tsconfig.json
  patches/001-apply-branded-ids.patch
  quick_wins.json
  roo_tasks.json
Due: check-typescript-consistency, frontend-build-check

Phase Guards: Runtime validation & error discipline
  PHASE_GUARDS_SUMMARY.md
  frontend/src/components/UI/ErrorBoundary.tsx
  frontend/src/errors/errorCatalog.ts
  frontend/src/handlers/validatedHandlers.ts
  frontend/src/types/zod/entities.ts
  frontend/src/types/zod/messages.ts
  frontend/src/utils/idempotencyGuard.ts
  frontend/src/utils/validation.ts
Due: check-typescript-consistency, frontend-build-check

feat: Implement Phase 1 Quick Wins (QW003, QW005, QW007, QW008)
  frontend/src/components/Entity/EntityDetail.tsx
  frontend/src/components/MillerColumns/MillerColumns.tsx
  frontend/src/components/Search/SearchInterface.tsx
  frontend/src/types/outcomes.ts
  frontend/src/utils/validation.ts
Due: check-typescript-consistency, frontend-build-check

Fix defect #1: Add runtime type validation for WebSocket messages
  frontend/src/handlers/realtimeHandlers.ts
  frontend/src/types/ws_messages.ts
Due: check-typescript-consistency, frontend-build-check

Fix defect #2: Resolve race condition in message sequence tracking
  PR_DEFECT_1.md
  frontend/src/types/ws_messages.ts
Due: check-typescript-consistency, frontend-build-check

Fix defect #4: Prevent unbounded memory growth in MessageDeduplicator
  PR_DEFECT_2.md
  frontend/src/types/ws_messages.ts
Due: check-typescript-consistency, frontend-build-check

Fix defect #8: Make WebSocket port configurable
  PR_DEFECT_4.md
  frontend/src/config/env.ts
Due: check-typescript-consistency, frontend-build-check

Add branch cleanup documentation - 15 branches to delete
  BRANCH_CLEANUP.md
Due: none

Add WebSocket robustness enhancements to resolve 1006 disconnects
  README.md
  api/main.py
  api/tests/test_ws_echo.py
  api/tests/test_ws_health.py
  checks/ws_server_diagnostics.md
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

Add ops config examples and dev scripts for WebSocket testing
  docker-compose.override.example.yml
  ops/nginx/ws.conf
  scripts/dev/ws_smoke.md
  scripts/dev/ws_smoke.sh
Due: none

Add RSS deduplication and WebSocket notification infrastructure
  api/services/rss/deduplication/__init__.py
  api/services/rss/deduplication/deduplicator.py
  api/services/rss/websocket/__init__.py
  api/services/rss/websocket/notifier.py
  test_websocket_connection.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

Add GitHub Actions workflow for WebSocket smoke tests
  .github/workflows/ws-smoke.yml
Due: none

Fix WebSocket infinite connection loop by adding connection state guard
  frontend/src/hooks/useWebSocket.ts
Due: check-typescript-consistency, frontend-build-check

Update documentation for accuracy and consistency
  AGENTS.md
  README.md
  docs/GOLDEN_SOURCE.md
Due: check-docs-consistency

Add comprehensive developer documentation suite
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/DEVELOPER_SETUP.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/TESTING_GUIDE.md
Due: check-docs-consistency

Path conditions:
  check-api-docs: any of: api/.*\.py$
  check-typescript-consistency: any of: frontend/src/.*\.(ts|tsx)$
  performance-regression-check: any of: api/.*\.(py)$
  validate-migrations: any of: migrations/.*\.sql$
  check-docs-consistency: any of: docs/.*\.md$
  frontend-build-check: any of: frontend/src/.*\.(ts|tsx|js|jsx)$
  api-health-check: any of: api/.*\.py$
  check-mv-refresh: any of: api/navigation_api/.*\.(py)$
  check-websocket-serialization: any of: api/.*\.(py)$
