Repository glockpete/Forecastin: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-api-docs, check-typescript-consistency, performance-regression-check, validate-migrations, check-docs-consistency, frontend-build-check, api-health-check, check-mv-refresh, check-websocket-serialization

check-api-docs:
  name: Check API documentation consistency
  entry: python scripts/check_api_docs.py
  language: system
  pass_filenames: false

check-typescript-consistency:
  name: Check TypeScript type consistency
  entry: python scripts/check_typescript_consistency.py
  language: system
  pass_filenames: false

performance-regression-check:
  name: Check performance regression
  entry: python scripts/check_performance_regression.py
  language: system
  pass_filenames: false
  stages:
  - push

validate-migrations:
  name: Validate database migrations
  entry: python scripts/validate_migrations.py
  language: system
  pass_filenames: false

check-docs-consistency:
  name: Check documentation consistency
  entry: python scripts/check_docs_consistency.py
  language: system
  pass_filenames: false

frontend-build-check:
  name: Validate frontend build
  entry: bash -c 'cd frontend && npm run build --if-present'
  language: system
  pass_filenames: false

api-health-check:
  name: Check API health
  entry: python scripts/check_api_health.py
  language: system
  pass_filenames: false
  stages:
  - push

check-mv-refresh:
  name: Check materialized view refresh
  entry: python scripts/check_materialized_view_refresh.py
  language: system
  pass_filenames: false

check-websocket-serialization:
  name: Check WebSocket serialization
  entry: python scripts/check_websocket_serialization.py
  language: system
  pass_filenames: false

fix: update psycopg to 3.2.3 and add missing requirements.railway.txt
  api/requirements.railway.txt
  api/requirements.txt
Due: none

Revert "Claude/railway GitHub setup guide 011 c uv hh ld adp m9 x toq t pxs k"
  api/requirements.railway.txt
  api/requirements.txt
  docs/RAILWAY_GITHUB_CLAUDE_SETUP.md
Due: check-docs-consistency

fix: update psycopg to 3.2.3 in requirements_minimal.txt
  api/requirements_minimal.txt
Due: none

Update Dockerfile to use api directory for copying
  api/Dockerfile.railway
Due: none

feat: add Railway connection setup documentation and scripts
  .gitignore
  RAILWAY_NEXT_STEPS.md
  railway-setup.sh
  scripts/railway-enable-extensions.py
Due: none

feat: Add Railway configuration files and setup documentation
  api/railway.json
  api/railway.toml
  docs/CLAUDE_RAILWAY_SETUP_PROMPT.md
  docs/RAILWAY_CONFIG_FILES.md
  frontend/railway.json
  frontend/railway.toml
Due: check-docs-consistency

fix: remove asyncpg mock to enable real module import in tests
  api/tests/conftest.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

feat: Set up test database infrastructure and add service tests
  api/tests/conftest.py
  api/tests/test_database_manager.py
  api/tests/test_feature_flag_service.py
  api/tests/test_performance.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

feat: Add comprehensive tests for high-priority services
  api/tests/test_anti_crawler_manager.py
  api/tests/test_automated_refresh_service.py
  api/tests/test_rss_deduplicator.py
  api/tests/test_rss_entity_extractor.py
  api/tests/test_websocket_manager.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

fix: Complete P0 blocker fixes for TypeScript contracts and test migration
  frontend/package-lock.json
  frontend/src/components/Entity/EntityDetail.tsx
  frontend/src/components/MillerColumns/MillerColumns.tsx
  frontend/src/components/Search/SearchInterface.tsx
  frontend/src/tests/LayerIntegrationTests.ts
  frontend/src/types/zod/entities.ts
  types/contracts.generated.ts
Due: check-typescript-consistency, frontend-build-check

feat: Complete P1-P2 implementation - production-ready infrastructure
  .github/workflows/ci.yml
  .github/workflows/contract-drift-check.yml
  IMPLEMENTATION_SUMMARY.md
  Makefile
  api/routers/README.md
  api/routers/__init__.py
  api/routers/entities.py
  api/routers/feature_flags.py
  api/routers/hierarchy.py
  api/routers/scenarios.py
  docker-compose.yml
  scripts/dev/bootstrap.sh
  scripts/generate_openapi.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

feat: Add comprehensive GitHub Actions fullstack CI workflow
  .github/workflows/fullstack-ci.yml
Due: none

feat: Customize fullstack CI for Forecastin project
  .github/workflows/fullstack-ci.yml
Due: none

fix: Resolve critical blockers and improve project configuration
  .env.example
  api/config_validation.py
  api/main.py
  api/navigation_api/__init__.py
  api/navigation_api/database/__init__.py
  api/navigation_api/database/optimized_hierarchy_resolver.py
  api/requirements.railway.txt
  api/requirements.txt
  api/requirements_minimal.txt
  api/services/hierarchical_forecast_service.py
  api/services/init_phase6_flags.py
  api/services/realtime_service.py
  api/services/scenario_service.py
  docker-compose.yml
  frontend/tsconfig.json
  scripts/connection_recovery.py
  scripts/deployment/startup_validation.py
  scripts/monitoring/infrastructure_health_monitor.py
  scripts/testing/direct_performance_test.py
Due: check-api-docs, performance-regression-check, api-health-check, check-mv-refresh, check-websocket-serialization

fix: Revert noUncheckedIndexedAccess to resolve TypeScript errors
  frontend/tsconfig.json
Due: none

docs: Add comprehensive setup guide and PR description
  PR_DESCRIPTION.md
  SETUP_GUIDE.md
Due: none

docs: Add quick reference for test failures
  TEST_FAILURES_README.md
Due: none

feat: Refactor main.py into modular routers - 87% code reduction
  api/main.py
  api/main.py.backup
  api/models/serializers.py
  api/routers/entities.py
  api/routers/feature_flags.py
  api/routers/health.py
  api/routers/hierarchy_refresh.py
  api/routers/rss_ingestion.py
  api/routers/scenarios.py
  api/routers/test_data.py
  api/routers/websocket.py
  api/services/background_services.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

feat: Complete CRA to Vite migration for frontend build
  frontend/.env.example
  frontend/package.json
  frontend/public/index.html
  frontend/src/setupProxy.js
  frontend/vite.config.ts
Due: frontend-build-check

fix: Resolve CI failures - TypeScript imports and Vite dependencies
  frontend/package-lock.json
  frontend/src/components/Entity/EntityDetail.tsx
  frontend/src/components/MillerColumns/MillerColumns.tsx
  frontend/src/components/Search/SearchInterface.tsx
Due: check-typescript-consistency, frontend-build-check

fix: Re-export WebSocket constants and classes for test compatibility
  api/main.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

fix: Complete Vite build configuration and resolve all CI failures
  .github/workflows/frontend.yml
  frontend/.gitignore
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
  frontend/vite.config.ts
Due: check-typescript-consistency, frontend-build-check

fix: Resolve CI failures - linting errors and build path issues
  .github/workflows/fullstack-ci.yml
  api/tests/test_performance.py
  frontend/vitest.config.ts
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

refactor: migrate from process.env to import.meta.env for Vite compatibility
  frontend/src/components/Map/GeospatialView.tsx
  frontend/src/components/UI/ErrorBoundary.tsx
  frontend/src/config/env.ts
  frontend/src/config/feature-flags-local-override.ts
  frontend/src/config/feature-flags.ts
  frontend/src/handlers/realtimeHandlers.ts
  frontend/src/hooks/useFeatureFlag.ts
  frontend/src/hooks/useHierarchy.ts
  frontend/src/integrations/LayerWebSocketIntegration.ts
  frontend/src/layers/registry/LayerRegistry.ts
  frontend/src/layers/utils/performance-monitor.ts
  frontend/src/vite-env.d.ts
Due: check-typescript-consistency, frontend-build-check

fix: Address Copilot code review suggestions
  api/routers/feature_flags.py
  api/routers/rss_ingestion.py
  api/routers/scenarios.py
  api/routers/websocket.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

fix: Correct requirements.txt path in CI workflows
  .github/workflows/backend.yml
  .github/workflows/fullstack-ci.yml
  .github/workflows/ws-smoke.yml
Due: none

fix: Add ruff configuration to pyproject.toml
  pyproject.toml
Due: none

chore: Add CI diagnostic script for troubleshooting
  diagnose_ci.sh
Due: none

fix: Add type module to package.json for Vite/Vitest ESM support
  frontend/package.json
Due: none

fix: Resolve remaining CI test failures
  .github/workflows/ws-smoke.yml
  frontend/src/layers/types/layer-types.test.ts
Due: check-typescript-consistency, frontend-build-check

feat: Add comprehensive Digital Ocean deployment configuration
  .do/DEPLOY.md
  .do/QUICKSTART.md
  .do/app.yaml
  .do/env.production.example
  README.md
Due: none

fix: Add PostgreSQL and Redis services to CI workflows
  .github/workflows/fullstack-ci.yml
  .github/workflows/ws-smoke.yml
Due: none

docs: Address Copilot architectural suggestions
  ARCHITECTURE_DECISIONS.md
  frontend/.env.example
Due: none

docs: Clarify scenarios router prefix design decision
  ARCHITECTURE_DECISIONS.md
  api/routers/scenarios.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

feat: Make CI pass without infrastructure dependencies
  .github/workflows/ci.yml
  Makefile
  contracts/openapi.json
  contracts/ws.json
  fixtures/.gitkeep.json
  fixtures/sample_layer_data.json
  fixtures/sample_ws_message.json
  frontend/package-lock.json
  frontend/src/layers/registry/LayerRegistry.ts
  frontend/src/layers/tests/GeospatialIntegrationTests.test.ts
  frontend/src/layers/types/layer-types.test.ts
  frontend/src/types/contracts.generated.ts
  frontend/tests/contracts/schema_validation.test.ts
  scripts/fix_deep_imports.py
  scripts/fix_imports.sh
  scripts/fix_imports_v2.py
  scripts/generate_minimal_openapi.py
  scripts/generate_openapi.py
  scripts/generate_ws_schema.py
Due: check-typescript-consistency, frontend-build-check

feat: Implement Phase 0 — Hard Reset Guardrails
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/baseline-ci.yml
  .nvmrc
  .tool-versions
  PHASE_0_BRANCH_PROTECTION.md
  PHASE_0_COMPLETION_SUMMARY.md
Due: none

docs: Add branch setup instructions for develop/staging/recovery branches
  PHASE_0_BRANCH_SETUP.md
Due: none

feat: Complete Phase 1 — Inventory and Truth Alignment
  checks/INVENTORY.md
  contracts/README.md
  docs/GOLDEN_SOURCE_PHASE1_ALIGNMENT.md
  scripts/audit/repo_inventory.sh
Due: check-docs-consistency

docs: Add Phase 1 completion summary
  PHASE_1_COMPLETION_SUMMARY.md
Due: none

feat: Complete Phase 2 (STEEP Analysis) & Phase 3 (Contract-First Sync)
  .github/workflows/contract-drift-check.yml
  Makefile
  STEEP_ANALYSIS_FINDINGS.md
  contracts/README.md
  contracts/openapi.json
  contracts/ws.json
  docs/PHASE_2_3_IMPLEMENTATION.md
  frontend/src/types/contracts.generated.ts
  scripts/dev/generate_contracts.py
  scripts/generate_openapi_minimal.py
  scripts/generate_ws_contract.py
  types/ws_messages.ts
Due: check-typescript-consistency, check-docs-consistency, frontend-build-check

Path conditions:
  check-api-docs: any of: api/.*\.py$
  check-typescript-consistency: any of: frontend/src/.*\.(ts|tsx)$
  performance-regression-check: any of: api/.*\.(py)$
  validate-migrations: any of: migrations/.*\.sql$
  check-docs-consistency: any of: docs/.*\.md$
  frontend-build-check: any of: frontend/src/.*\.(ts|tsx|js|jsx)$
  api-health-check: any of: api/.*\.py$
  check-mv-refresh: any of: api/navigation_api/.*\.(py)$
  check-websocket-serialization: any of: api/.*\.(py)$
