Repository glockpete/Forecastin: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-api-docs, check-typescript-consistency, performance-regression-check, validate-migrations, check-docs-consistency, frontend-build-check, api-health-check, check-mv-refresh, check-websocket-serialization

check-api-docs:
  name: Check API documentation consistency
  entry: python scripts/check_api_docs.py
  language: system
  pass_filenames: false

check-typescript-consistency:
  name: Check TypeScript type consistency
  entry: python scripts/check_typescript_consistency.py
  language: system
  pass_filenames: false

performance-regression-check:
  name: Check performance regression
  entry: python scripts/check_performance_regression.py
  language: system
  pass_filenames: false
  stages:
  - push

validate-migrations:
  name: Validate database migrations
  entry: python scripts/validate_migrations.py
  language: system
  pass_filenames: false

check-docs-consistency:
  name: Check documentation consistency
  entry: python scripts/check_docs_consistency.py
  language: system
  pass_filenames: false

frontend-build-check:
  name: Validate frontend build
  entry: bash -c 'cd frontend && npm run build --if-present'
  language: system
  pass_filenames: false

api-health-check:
  name: Check API health
  entry: python scripts/check_api_health.py
  language: system
  pass_filenames: false
  stages:
  - push

check-mv-refresh:
  name: Check materialized view refresh
  entry: python scripts/check_materialized_view_refresh.py
  language: system
  pass_filenames: false

check-websocket-serialization:
  name: Check WebSocket serialization
  entry: python scripts/check_websocket_serialization.py
  language: system
  pass_filenames: false

chore(setup): establish checks/ scaffolding and scripts
  checks/BUGLOG.md
  checks/DEFECTS.md
  checks/PR_QUEUE.md
  checks/SCOUT_LOG.md
  checks/quick_wins.json
Due: none

fix(frontend): eradicate console noise and add error boundaries
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/config/env.ts
  frontend/src/config/feature-flags.ts
  frontend/src/errors/errorCatalog.ts
  frontend/src/handlers/realtimeHandlers.ts
  frontend/src/handlers/validatedHandlers.ts
  frontend/src/hooks/useHybridState.ts
  frontend/src/index.tsx
  frontend/src/integrations/LayerWebSocketIntegration.ts
  frontend/src/lib/logger.ts
  frontend/src/utils/errorRecovery.ts
  frontend/src/utils/idempotencyGuard.ts
  frontend/src/utils/stateManager.ts
Due: check-typescript-consistency, frontend-build-check

docs(checks): update Phase 1 completion status in tracking files
  checks/BUGLOG.md
  checks/DEFECTS.md
Due: none

feat(ui): enforce dark theme background and surface tokens
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/tailwind.config.js
  frontend/vite.config.ts
Due: check-typescript-consistency, frontend-build-check

fix(eslint): move ESLint config to inline package.json config
  frontend/package.json
Due: none

fix(css): correct Tailwind @apply syntax in index.css
  frontend/src/index.css
Due: none

chore: remove deleted .eslintrc.js file
  frontend/.eslintrc.js
Due: none

fix: address Copilot review issues
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/UI/ErrorBoundary.tsx
  frontend/src/index.tsx
  frontend/src/lib/logger.ts
Due: check-typescript-consistency, frontend-build-check

docs: Add comprehensive solution guide for BUG-016 constructor inconsistencies
  BUG-016-SOLUTION.md
Due: none

feat: Complete BUG-017 async mocking framework solution
  BUG-017-IMPLEMENTATION-SUMMARY.md
  BUG-017-INDEX.md
  BUG-017-QUICK-START.md
  SOLUTIONS_BUG-017.md
  api/tests/mock_helpers.py
  docs/testing/ASYNC_MOCKING_QUICK_REFERENCE.md
  docs/testing/MIGRATION_EXAMPLE.md
  scripts/detect_async_mock_issues.py
Due: check-api-docs, performance-regression-check, check-docs-consistency, api-health-check, check-websocket-serialization

fix: Address Copilot code review feedback for BUG-017
  SOLUTIONS_BUG-017.md
  api/tests/mock_helpers.py
  scripts/detect_async_mock_issues.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

docs: Update GOLDEN_SOURCE and CHANGELOG with latest changes
  CHANGELOG.md
  docs/GOLDEN_SOURCE.md
Due: check-docs-consistency

fix: Manually fix critical linting issues
  api/config_validation.py
  api/main.py
  api/navigation_api/database/optimized_hierarchy_resolver.py
  api/routers/health.py
  api/services/automated_refresh_service.py
  api/services/cache_service.py
  api/services/database_manager.py
  api/services/feature_flag_service.py
  api/services/hierarchical_forecast_service.py
  api/services/realtime_service.py
  api/services/rss/anti_crawler/manager.py
  api/services/rss/deduplication/deduplicator.py
  api/services/rss/entity_extraction/extractor.py
  api/services/rss/route_processors/base_processor.py
  api/services/rss/rss_ingestion_service.py
  api/services/rss/websocket/notifier.py
  api/services/scenario_service.py
  api/services/test_feature_flag_integration.py
  api/services/websocket_manager.py
  api/tests/conftest.py
  api/tests/test_anti_crawler_manager.py
  api/tests/test_automated_refresh_service.py
  api/tests/test_cache_optimization.py
  api/tests/test_connection_manager.py
  api/tests/test_database_manager.py
  api/tests/test_feature_flag_service.py
  api/tests/test_hierarchical_forecast_service.py
  api/tests/test_ltree_refresh.py
  api/tests/test_performance.py
  api/tests/test_rss_deduplicator.py
  api/tests/test_rss_entity_extractor.py
  api/tests/test_rss_performance_slos.py
  api/tests/test_scenario_api.py
  api/tests/test_scenario_service.py
  api/tests/test_scenario_validation.py
  api/tests/test_websocket_manager.py
  api/tests/test_ws_echo.py
  api/tests/test_ws_health.py
Due: check-api-docs, performance-regression-check, api-health-check, check-mv-refresh, check-websocket-serialization

fix: Add noqa comments for intentional import positioning
  api/routers/websocket.py
  api/services/rss/route_processors/base_processor.py
  api/tests/conftest.py
  api/tests/test_hierarchical_forecast_service.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

fix: Adjust PYTHONWARNINGS to allow pip installation
  .github/workflows/baseline-ci.yml
Due: none

fix: Override PYTHONWARNINGS for all pip install steps
  .github/workflows/baseline-ci.yml
Due: none

fix: Remove global PYTHONWARNINGS to fix pip installations
  .github/workflows/baseline-ci.yml
Due: none

fix: Add missing TypeScript types and utility functions
  frontend/src/types/contracts.generated.ts
Due: check-typescript-consistency, frontend-build-check

fix: Use inline PYTHONWARNINGS=ignore for pip install steps
  .github/workflows/baseline-ci.yml
Due: none

Test commit to verify push functionality
  test_push.txt
Due: none

fix: Resolve remaining merge conflicts in automated_refresh_service.py
  api/services/automated_refresh_service.py
  api/services/hierarchical_forecast_service.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

fix(contracts): restore type safety for backend-frontend contract
  frontend/src/handlers/realtimeHandlers.ts
  frontend/src/types/contracts.generated.ts
  frontend/src/utils/stateManager.ts
  frontend/tests/contracts/entity_helpers.test.ts
  frontend/tsconfig.json
  scripts/dev/generate_contracts.py
  tests/test_contract_generation.py
Due: check-typescript-consistency, frontend-build-check

docs: Add comprehensive Rebuild Dossier (evidence-led technical audit)
  README.md
  REBUILD_DOSSIER/20251109-0521/00_INDEX.md
  REBUILD_DOSSIER/20251109-0521/01_INVENTORY.json
  REBUILD_DOSSIER/20251109-0521/01_INVENTORY.md
  REBUILD_DOSSIER/20251109-0521/02_FINDINGS.json
  REBUILD_DOSSIER/20251109-0521/02_FINDINGS.md
  REBUILD_DOSSIER/20251109-0521/03_MISTAKES_AND_PATTERNS.md
  REBUILD_DOSSIER/20251109-0521/04_TARGET_ARCHITECTURE.contracts.ts
  REBUILD_DOSSIER/20251109-0521/04_TARGET_ARCHITECTURE.md
  REBUILD_DOSSIER/20251109-0521/04_TARGET_ARCHITECTURE.pydantic.py
  REBUILD_DOSSIER/20251109-0521/05_REBUILD_PLAN.csv
  REBUILD_DOSSIER/20251109-0521/05_REBUILD_PLAN.md
  REBUILD_DOSSIER/20251109-0521/06_MIGRATIONS.md
  REBUILD_DOSSIER/20251109-0521/07_CONTRACT_TESTS.examples/test_entity_response.py
  REBUILD_DOSSIER/20251109-0521/07_CONTRACT_TESTS.examples/test_geometry_types.py
  REBUILD_DOSSIER/20251109-0521/07_CONTRACT_TESTS.examples/test_hierarchy_response.py
  REBUILD_DOSSIER/20251109-0521/07_CONTRACT_TESTS.examples/test_layer_update_event.py
  REBUILD_DOSSIER/20251109-0521/07_CONTRACT_TESTS_PLAN.md
  REBUILD_DOSSIER/20251109-0521/08_CI_CD.md
  REBUILD_DOSSIER/20251109-0521/09_UI_REBUILD.md
  REBUILD_DOSSIER/20251109-0521/10_RISKS.md
  REBUILD_DOSSIER/20251109-0521/11_DECISIONS_ADR/ADR-0001-service-lifecycle-standard.md
  REBUILD_DOSSIER/20251109-0521/11_DECISIONS_ADR/ADR-0002-contract-generation-strategy.md
  REBUILD_DOSSIER/20251109-0521/11_DECISIONS_ADR/ADR-0003-feature-flag-architecture.md
  REBUILD_DOSSIER/20251109-0521/11_DECISIONS_ADR/ADR-0004-observability-standards.md
  REBUILD_DOSSIER/20251109-0521/11_DECISIONS_ADR/ADR-0005-secrets-management.md
  REBUILD_DOSSIER/20251109-0521/12_TASKS_BREAKDOWN.md
  REBUILD_DOSSIER/20251109-0521/13_PR_TEMPLATES/bug_fix_template.md
  REBUILD_DOSSIER/20251109-0521/13_PR_TEMPLATES/feature_template.md
  REBUILD_DOSSIER/20251109-0521/13_PR_TEMPLATES/pull_request_template.md
  REBUILD_DOSSIER/20251109-0521/14_EVIDENCE_MAP.md
  REBUILD_DOSSIER/20251109-0521/15_SECURITY_AND_COMPLIANCE.md
  REBUILD_DOSSIER/20251109-0521/16_PERF_BUDGETS.md
  REBUILD_DOSSIER/20251109-0521/17_OBSERVABILITY_STANDARDS.md
  REBUILD_DOSSIER/20251109-0521/18_DEVELOPER_HANDBOOK.md
  REBUILD_DOSSIER/20251109-0521/19_SCHEMAS/README.md
  REBUILD_DOSSIER/20251109-0521/19_SCHEMAS/entity_response.schema.json
  REBUILD_DOSSIER/20251109-0521/19_SCHEMAS/hierarchy_response.schema.json
  REBUILD_DOSSIER/20251109-0521/19_SCHEMAS/layer_update_event.schema.json
Due: none

fix: Resolve TypeScript type errors, ESLint config, and security vulnerabilities
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/types/contracts.generated.ts
Due: check-typescript-consistency, frontend-build-check

feat: Enhance contract generation to support enums and union types
  frontend/src/types/contracts.generated.ts
  scripts/dev/generate_contracts.py
Due: check-typescript-consistency, frontend-build-check

fix: Add missing DatabaseManager import in hierarchical_forecast_service
  api/services/hierarchical_forecast_service.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

fix: Remove dynamic timestamp from contract generation to prevent drift
  frontend/src/types/contracts.generated.ts
  scripts/dev/generate_contracts.py
Due: check-typescript-consistency, frontend-build-check

fix: Resolve pip pkg_resources deprecation error in CI workflows
  .github/workflows/backend.yml
  .github/workflows/baseline-ci.yml
  .github/workflows/fullstack-ci.yml
  .github/workflows/ws-smoke.yml
Due: none

fix: Suppress pkg_resources deprecation warning during pip upgrade
  .github/workflows/backend.yml
  .github/workflows/baseline-ci.yml
  .github/workflows/fullstack-ci.yml
  .github/workflows/ws-smoke.yml
Due: none

fix: Add PYTHONWARNINGS suppression to ALL pip install commands in CI workflows
  .github/workflows/baseline-ci.yml
  .github/workflows/fullstack-ci.yml
  .github/workflows/ws-smoke.yml
Due: none

fix: Add PYTHONWARNINGS suppression to backend.yml pip install commands
  .github/workflows/backend.yml
Due: none

fix: Use step-level env for PYTHONWARNINGS instead of command prefix
  .github/workflows/backend.yml
  .github/workflows/baseline-ci.yml
  .github/workflows/fullstack-ci.yml
  .github/workflows/ws-smoke.yml
Due: none

feat: Wave 1 rollout - Phase 0 critical fixes
  frontend/src/types/zod/messages.ts.deprecated
  scripts/testing/direct_performance_test.py
Due: none

fix: Add missing TypeScript enum definitions (F-0004)
  frontend/src/types/contracts.generated.ts
Due: check-typescript-consistency, frontend-build-check

docs: Add comprehensive Technical Gap Dossier
  TECHNICAL_GAP_DOSSIER.md
Due: none

fix: RSS Phase 1 - Fix critical bugs (dataclass/Pydantic, WebSocket methods)
  api/services/rss/entity_extraction/extractor.py
  api/services/rss/models.py
  api/services/rss/route_processors/base_processor.py
  api/services/rss/websocket/notifier.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

feat: Add comprehensive RSS sources database (300+ sources, expanding to 1,000+)
  api/config/rss_sources.yaml
  docs/RSS_SOURCES_GUIDE.md
  migrations/005_rss_feed_sources_schema.sql
  scripts/load_rss_sources.py
Due: validate-migrations, check-docs-consistency

fix: Add missing DatabaseManager import to resolve F821 linting error
  api/services/hierarchical_forecast_service.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

Path conditions:
  check-api-docs: any of: api/.*\.py$
  check-typescript-consistency: any of: frontend/src/.*\.(ts|tsx)$
  performance-regression-check: any of: api/.*\.(py)$
  validate-migrations: any of: migrations/.*\.sql$
  check-docs-consistency: any of: docs/.*\.md$
  frontend-build-check: any of: frontend/src/.*\.(ts|tsx|js|jsx)$
  api-health-check: any of: api/.*\.py$
  check-mv-refresh: any of: api/navigation_api/.*\.(py)$
  check-websocket-serialization: any of: api/.*\.(py)$
