Repository glockpete/Forecastin: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-api-docs, check-typescript-consistency, performance-regression-check, validate-migrations, check-docs-consistency, frontend-build-check, api-health-check, check-mv-refresh, check-websocket-serialization

Path conditions:
  check-api-docs: any of: api/.*\.py$
  check-typescript-consistency: any of: frontend/src/.*\.(ts|tsx)$
  performance-regression-check: any of: api/.*\.(py)$
  validate-migrations: any of: migrations/.*\.sql$
  check-docs-consistency: any of: docs/.*\.md$
  frontend-build-check: any of: frontend/src/.*\.(ts|tsx|js|jsx)$
  api-health-check: any of: api/.*\.py$
  check-mv-refresh: any of: api/navigation_api/.*\.(py)$
  check-websocket-serialization: any of: api/.*\.(py)$

fix: Address Copilot PR review feedback
  docs/RSS_SOURCES_GUIDE.md
  migrations/005_rss_feed_sources_schema.sql
  scripts/load_rss_sources.py
Due: validate-migrations, check-docs-consistency

feat: Add critical production validation and observability enhancements
  PRODUCTION_READINESS_FIXES.md
  api/navigation_api/database/optimized_hierarchy_resolver.py
  api/routers/entities.py
  api/routers/health.py
  api/services/validation.py
  migrations/004_automated_materialized_view_refresh.sql
  migrations/005_rss_feed_sources_schema.sql
  migrations/006_production_validation_and_observability.sql
  scripts/load_rss_sources.py
Due: check-api-docs, performance-regression-check, validate-migrations, api-health-check, check-mv-refresh, check-websocket-serialization

fix: Apply 3 critical hostile-review fixes
  CRITICAL_FIXES_NEEDED.md
  api/navigation_api/database/optimized_hierarchy_resolver.py
  migrations/005_rss_feed_sources_schema.sql
  migrations/006_production_validation_and_observability.sql
Due: check-api-docs, performance-regression-check, validate-migrations, api-health-check, check-mv-refresh, check-websocket-serialization

fix: Apply 3 additional critical fixes from hostile review verification
  HOSTILE_REVIEW_ROUND2.md
  PRODUCTION_READINESS_FIXES.md
  api/navigation_api/database/optimized_hierarchy_resolver.py
  api/routers/entities.py
Due: check-api-docs, performance-regression-check, api-health-check, check-mv-refresh, check-websocket-serialization

docs: Add comprehensive code audit report and prioritized fix plan
  CODE_AUDIT_REPORT.md
  FIX_PLAN.md
Due: none
