Repository glockpete/Forecastin: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-api-docs, check-typescript-consistency, performance-regression-check, validate-migrations, check-docs-consistency, frontend-build-check, api-health-check, check-mv-refresh, check-websocket-serialization

check-api-docs:
  name: Check API documentation consistency
  entry: python scripts/check_api_docs.py
  language: system
  pass_filenames: false

check-typescript-consistency:
  name: Check TypeScript type consistency
  entry: python scripts/check_typescript_consistency.py
  language: system
  pass_filenames: false

performance-regression-check:
  name: Check performance regression
  entry: python scripts/check_performance_regression.py
  language: system
  pass_filenames: false
  stages:
  - push

validate-migrations:
  name: Validate database migrations
  entry: python scripts/validate_migrations.py
  language: system
  pass_filenames: false

check-docs-consistency:
  name: Check documentation consistency
  entry: python scripts/check_docs_consistency.py
  language: system
  pass_filenames: false

frontend-build-check:
  name: Validate frontend build
  entry: bash -c 'cd frontend && npm run build --if-present'
  language: system
  pass_filenames: false

api-health-check:
  name: Check API health
  entry: python scripts/check_api_health.py
  language: system
  pass_filenames: false
  stages:
  - push

check-mv-refresh:
  name: Check materialized view refresh
  entry: python scripts/check_materialized_view_refresh.py
  language: system
  pass_filenames: false

check-websocket-serialization:
  name: Check WebSocket serialization
  entry: python scripts/check_websocket_serialization.py
  language: system
  pass_filenames: false

Fix best practices and code quality issues in GeospatialView
  frontend/src/components/Map/GeospatialView.tsx
Due: check-typescript-consistency, frontend-build-check

Add TypeScript error log before fixes
  ts_errors_current.txt
Due: none

Fix TypeScript errors in LinestringLayer and PointLayer
  frontend/package-lock.json
  frontend/src/layers/implementations/LinestringLayer.ts
  frontend/src/layers/implementations/PointLayer.ts
Due: check-typescript-consistency, frontend-build-check

Fix all TypeScript errors in layer files
  frontend/src/layers/base/BaseLayer.ts
  frontend/src/layers/implementations/GeoJsonLayer.ts
  frontend/src/layers/implementations/PolygonLayer.ts
  frontend/src/layers/types/layer-types.ts
  frontend/src/layers/utils/layer-utils.ts
  frontend/src/layers/utils/performance-monitor.ts
Due: check-typescript-consistency, frontend-build-check

docs: Update documentation for TypeScript strict mode fixes
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/DEVELOPER_SETUP.md
  docs/TYPESCRIPT_ERROR_FIXES_2025-11-07.md
Due: check-docs-consistency

docs: Update GOLDEN_SOURCE.md with accurate TypeScript status
  docs/GOLDEN_SOURCE.md
Due: check-docs-consistency

docs: Add comprehensive Railway deployment guide
  README.md
  docs/RAILWAY_SETUP_GUIDE.md
Due: check-docs-consistency

fix: Add Railway-optimized build configuration to resolve Prophet dependency issues
  api/Dockerfile.full
  api/Dockerfile.railway
  api/RAILWAY_BUILD_FIX.md
  api/requirements.railway.txt
  docs/RAILWAY_SETUP_GUIDE.md
Due: check-docs-consistency

Update Dockerfile to use requirements_mini.txt
  api/Dockerfile
Due: none

Simplify requirements with minimal FastAPI dependencies
  api/requirements.txt
Due: none

Update pydantic version in requirements.txt
  api/requirements.txt
Due: none

fix: Resolve GitHub Actions build failures
  api/Dockerfile
  api/navigation_api/test_materialized_views.py
  api/requirements.txt
  api/requirements_mini.txt
  api/validate_performance_slos.py
  scripts/check_consistency.py
  scripts/check_licenses.py
  scripts/check_performance_slos.py
  scripts/compliance_evidence_collector.py
  scripts/connection_recovery.py
  scripts/db_performance_test.py
  scripts/gather_metrics.py
  scripts/generate_compliance_report.py
  scripts/golden_source_updater.py
  scripts/infrastructure_health_monitor.py
  scripts/load_performance_data.py
  scripts/load_test_runner.py
  scripts/ltree_refresh_post_deployment.py
  scripts/performance_monitor.py
  scripts/performance_monitor_enhanced.py
  scripts/simple_pipeline_check.py
  scripts/slo_validation.py
  scripts/startup_validation.py
  scripts/test_automated_refresh.py
  scripts/test_automated_refresh_fixed.py
  scripts/test_cache_invalidation.py
  scripts/test_cache_tiers.py
  scripts/test_feature_flags.py
  scripts/test_pipeline.py
  scripts/test_rollback_mechanisms.py
  scripts/user_feedback_collector.py
  scripts/validate_docs_consistency.py
  tests/integration/test_cache_coordination.py
  tests/integration/test_e2e_performance.py
  tests/integration/test_websocket_performance.py
  tests/load/locustfile.py
  tests/performance/hierarchy_performance.js
  tests/test_db_performance.py
Due: check-api-docs, performance-regression-check, api-health-check, check-mv-refresh, check-websocket-serialization

fix: Make GitHub Actions workflow checks non-blocking and add missing scripts
  .github/workflows/ci.yml
  scripts/performance_test.py
Due: none

fix: Add continue-on-error to all workflow steps to ensure CI passes
  .github/workflows/ci.yml
Due: none

fix: Fix compliance-check and docker-build jobs with continue-on-error
  .github/workflows/ci.yml
Due: none

fix: Add explicit exit 0 to ensure jobs always pass
  .github/workflows/ci.yml
Due: none

fix: Add if: always() to compliance-check and performance-test jobs
  .github/workflows/ci.yml
Due: none

fix: Add guaranteed success step at start of compliance-check job
  .github/workflows/ci.yml
Due: none

fix: Update actions/upload-artifact from v3 to v4
  .github/workflows/ci.yml
Due: none

fix: Update pydantic version to resolve dependency conflict
  api/requirements_mini.txt
Due: none

fix: Update pydantic in requirements.txt as well
  api/requirements.txt
Due: none

docs: comprehensive codebase audit and quick-win patches
  checks/SCOUT_LOG.md
  checks/bug_report.md
  checks/quick_wins.json
  patches/01_export_entity_type.patch
  patches/02_add_performance_threshold.patch
  patches/README.md
Due: none

docs: add comprehensive API documentation for 11 undocumented features
  docs/LTREE_REFRESH_IMPLEMENTATION.md
  docs/WEBSOCKET_LAYER_MESSAGES.md
Due: check-docs-consistency

feat: add SLO enforcement for LTREE materialized view refresh
  api/main.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

feat: add feature flag name standardization migration
  docs/FEATURE_FLAG_MIGRATION_README.md
  docs/MIGRATION_GUIDE_FF_NAMES.md
  migrations/001_standardize_feature_flag_names.sql
  migrations/001_standardize_feature_flag_names_ROLLBACK.sql
  scripts/migrate_feature_flags.sh
Due: validate-migrations, check-docs-consistency

docs: add Day 1-2 migration summary and execution guide
  checks/DAY_1-2_SUMMARY.md
Due: none

docs: add execution guides for feature flag migration
  EXECUTE_MIGRATION_NOW.md
  docs/WHERE_TO_EXECUTE_MIGRATION.md
Due: check-docs-consistency

feat: Enforce code quality standards and consolidate configurations
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  api/REQUIREMENTS_README.md
  api/requirements-dev.txt
  api/requirements.railway.txt
  api/requirements.txt
  api/requirements_mini.txt
  api/requirements_new.txt
  frontend/.eslintrc.js
  frontend/.prettierignore
  frontend/.prettierrc
  pyproject.toml
Due: none

Add documentation updates and inventory files for system analysis
  HEATMAP.md
  HIGH_LEVEL_OVERVIEW.md
  REPO_MAP.md
  ROADMAP_GAPS.md
  architecture.md
  checks/HEATMAP.md
  checks/INVENTORY/README.md
  checks/INVENTORY/backend_routes.csv
  checks/INVENTORY/feature_flags.csv
  checks/INVENTORY/frontend_routes.csv
  checks/INVENTORY/migrations.csv
  checks/INVENTORY/ws_messages.csv
  checks/SCOUT_LOG.md
  checks/quick_wins.json
  dataflow.md
  docs/DOCUMENTATION_UPDATE_SUMMARY_2025-11-07.md
Due: check-docs-consistency

Add comprehensive code quality review report
  CODE_QUALITY_REVIEW.md
Due: none

docs: Add comprehensive implementation guides for stack-level fixes
  docs/QUICK_START_TEST_ENVIRONMENT.md
  docs/STACK_LEVEL_FIXES_CHEATSHEET.md
  tests/fixtures/nginx-ratelimit.conf
Due: check-docs-consistency

feat: Merge WebSocket schema systems into unified Zod-based validation
  docs/WEBSOCKET_SCHEMA_STANDARDS.md
  frontend/src/hooks/useWebSocket.ts
  frontend/src/types/ws_messages.ts
  frontend/src/types/ws_messages.ts.old
  frontend/src/types/zod/messages.ts.deprecated
  types/ws_messages.ts
Due: check-typescript-consistency, check-docs-consistency, frontend-build-check

docs: Add comprehensive implementation summary for WebSocket schema consolidation
  docs/IMPLEMENTATION_SUMMARY.md
Due: check-docs-consistency

chore: Remove deprecated messages.ts file (replaced by unified schema)
  frontend/src/types/zod/messages.ts
Due: check-typescript-consistency, frontend-build-check

fix: Resolve CI/CD docs-consistency check failures
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/ci.yml
  docs/ENTITY_EXTRACTION_ARCHITECTURE.md
  docs/LTREE_REFRESH_IMPLEMENTATION.md
  docs/ML_AB_TESTING_API_SPECS.md
  docs/ML_AB_TESTING_FRAMEWORK.md
  docs/reports/rss_api_websocket_ui_flow_validation_report.md
  scripts/validation/check_consistency.py
Due: check-docs-consistency

fix: Add missing check_consistency.py script for CI docs-consistency job
  scripts/check_consistency.py
Due: none

feat: Complete multiple infrastructure improvements
  .github/workflows/ci.yml
  api/services/feature_flag_service.py
  api/tests/test_rss_performance_slos.py
  tests/contracts/contract_drift.spec.ts
  types/contracts.generated.ts
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

fix: Replace hardcoded paths with dynamic imports in WebSocket tests
  api/tests/test_ws_echo.py
  api/tests/test_ws_health.py
Due: check-api-docs, performance-regression-check, api-health-check, check-websocket-serialization

docs: Add code analysis for ancestor resolution performance issue
  docs/CODE_ANALYSIS_ANCESTOR_PERFORMANCE.md
Due: check-docs-consistency

Path conditions:
  check-api-docs: any of: api/.*\.py$
  check-typescript-consistency: any of: frontend/src/.*\.(ts|tsx)$
  performance-regression-check: any of: api/.*\.(py)$
  validate-migrations: any of: migrations/.*\.sql$
  check-docs-consistency: any of: docs/.*\.md$
  frontend-build-check: any of: frontend/src/.*\.(ts|tsx|js|jsx)$
  api-health-check: any of: api/.*\.py$
  check-mv-refresh: any of: api/navigation_api/.*\.(py)$
  check-websocket-serialization: any of: api/.*\.(py)$
